<h1>User Overview</h1>
<table class="user_info">
<tr class="user-name">
    <td>
        <h2>Name:</h2>
    </td>
    <td>
        {{this.dataService.getUserName()}}
    </td>
</tr>
<tr class="user-email">
    <td>
            <h2>Email:</h2>
    </td>
    <td>
        {{this.dataService.getUserEmail()}}
    </td>
</tr>
</table>
<h2>Limit Summary</h2>
<table class='computeCharts'>
        <tr>
        <td>
            <canvas baseChart
                    [data]="pieChartData_floating"
                    [labels]="pieChartLabels"
                    [colors]= "pieChartColors"
                    [chartType]="pieChartType"></canvas>
        </td>
        
        <td>
            <canvas baseChart
                    [data]="pieChartData_instances"
                    [labels]="pieChartLabels"
                    [colors]= "pieChartColors"  
                    [chartType]="pieChartType"></canvas>
        </td>
        <td>
            <canvas baseChart
                    [data]="pieChartData_cores"
                    [labels]="pieChartLabels"
                    [colors]= "pieChartColors"  
                    [chartType]="pieChartType"></canvas>
        </td>
        <td>
            <canvas baseChart
                    [data]="pieChartData_ram"
                    [labels]="pieChartLabels"
                    [colors]= "pieChartColors"  
                    [chartType]="pieChartType"></canvas>
        </td>
        </tr>
        <tr>
            <td>
                Floating_ips
            </td>
            <td>
                Instances
            </td>
            <td>
                Cores
            </td>
            <td>
                Ram
            </td>
        </tr>
    </table>
    

