<h1>Overview</h1>
<h2>Limit Summary</h2>
<h3>Compute</h3>
<div class='computeCharts'>
        <div>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [colors]= "pieChartColors"
                    [chartType]="pieChartType"></canvas>
        </div>
        
        <div>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [colors]= "pieChartColors"  
                    [chartType]="pieChartType"></canvas>
        </div>
        <div>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [colors]= "pieChartColors"  
                    [chartType]="pieChartType"></canvas>
        </div>
    </div>
    
<h3>Volume</h3>
<h3>Network</h3>

