
label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    height:55px;
    width:115px;
    margin-top: 20px;
    font-family: Arial;
    background-color: rgb(153, 170, 207);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  body {
    margin: 0;
  }

  div.dashboard{
    display: flex;
  }

  #container {
    width: 80%;
    /*border-radius: 25px;*/
    border: 2px solid Black;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background: #A4D3EE;
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
  }
  
  #x {
      position: absolute;
      background: red;
      color: white;
      top: -10px;
      right: -10px;
  }