button {
    margin-top: 20px;
    font-family: Arial;
    background-color: rgb(153, 170, 207);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  div.spinner{
    margin:0 auto;
  }

  #x{
    position: relative;
    float: right;
    top: -20px;
    right: -20px;
    margin: 0;
  }
  